.pagination{
  text-align: right;
}

.pagination__list{
  @include inlineblock();
}

.pagination__item{
  @include size-square(26px);
  @include inlineblock();
  @include border-radius(3px);
  @include border();
  position: relative;
  overflow: hidden;
}

.pagination__link{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  color: $white;

  &:hover{
    background-color: #e0e0e0;
  }
}

.pagination__mark{
  @include absolute-center;
  @include fontsize(12px, 26px);
  text-align: center;
  @include open-sans(bold);
  color: #7f7f7f;
}

$pagination-map: sprite-map("icons/pagination/*.png", $spacing: 70px);

@each $item in (prev, next){
  .pagination__item-#{$item}{
    .pagination__mark{
      @include get-sprite($pagination-map, $item);
    }
  }
}