@import "compass";

/* --------- normalize --------- */

@import "_misc/normalize";

/* --------- mixins --------- */

@import "_misc/mixins";
@import "_misc/fonts";

/* --------- common colors --------- */

$black: #333333;
$grey: #f4f4f4;
$orange: #ff6600;
$white: #ffffff;
$border-light: #dee1e4;

/* --------- adjustment --------- */

@import "_misc/adjustment";

/* --------- misc --------- */

$misc-sprite: sprite-map("icons/_misc/*.png", $spacing: 70px);

@import "_plugins/jquery-ui";
@import "_plugins/select2";
@import "_widgets/_slider";
@import "_widgets/_select";
/* --------- sections --------- */

@import "_sections/_header";
@import "_sections/_nav";
@import "_sections/_breadcrumbs";
@import "_sections/_content";
@import "_sections/_sidebar";
@import "_sections/_attention";
@import "_sections/_footer";
@import "_sections/_sort";
@import "_sections/_products";
@import "_sections/_pagination";


