.ui-slider-horizontal{
  height: 3px;
  background-color: $border-light;
  @include border-radius(0);
  border: 0 none;
  margin-bottom: 14px;

  *{
    outline: none !important;
  }

  .ui-slider-range{
    background-color: $orange;
  }

  .ui-slider-handle{
    @include get-sprite($misc-sprite, slider-handle);
    top: 0;
    border: 0 none;
    @include border-radius(0);
    margin-left: -4px;
    cursor: pointer;
  }
}